* {
	margin: 0;
	padding: 0;
	font-family: 'Quattrocento Sans', sans-serif;
}

.hidden {
	display: none;
	position: absolute;
}

#column-1 {
	width:100px;
	float:right;
	z-index: -1;
}

#column-2 {
	width:100px;
	height;
	float:left;
	z-index: -1;
}

#clearButton {
	background-color: maroon;
}

.button {
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
	opacity: 0.5;
	height: 5em;
	margin-right: 1em;
	text-align: center;
	padding-top: 3em;
}

.button:hover {
	opacity: 1;
}

#homeButton{
	background-color: lightgreen;
}

#savedButton {
	background-color: lavender;
}

#greyButton{
	background-color: grey;
}

#sepiaButton{
	background-color: #D59B5C;
}

#invertButton{
	background-color: lightblue;
}

#blurButton{
	background-color: yellow;
}

#saturateButton {
	background-color: darkred;
}

.header, #header{ /*centres title */
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#header > h1 {
	font-size: 6em;
	margin-bottom: 0.25em;
	text-align: center;
}

.header > h3 { /*gives #tag its size */
	font-size: 4em;
	margin-bottom: 0.5em;
	text-align: center;
}

#instructions {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 2em;
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 2px;
}

#saved {
	font-style: italic;
	background-color: lavender;
}

#input {
	/*margin-bottom: 1em;*/
  width: 40%;
  font-family: sans-serif;
  font-size: 2em;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  text-align: center;
  background-color: #E4F2F2;
  /*display: inline-block;*/
}

#input:focus, #search-button {
	outline: none;
}

.style-2 #input{
	 padding: 10px;
  border: solid 5px #c9c9c9;
  transition: border 0.3s;
}

.style-2 #input:focus {
	border: solid 5px #969696;
}

#search-button {
	padding: 10px;
	font-size: 1.5em;
	width: 15%;
	/*display: inline-block;*/
	border: solid 5px #E4F2F2;
	margin-bottom: 0.8em;
	background-color: #D3E3E3;
}

#search-button:hover {
	background-color: #B9EDED;
}

#photo-grid > table{
	margin-right: auto;
	margin-left: auto;
	border-spacing: 5px;
}

#photo-grid td {
	width: 150px;
	height: 150px;
}

#photo-grid td:hover {
	box-shadow: 0px 0px 20px blue;
}

#photo-grid img {
	display: block;
}

#filterpage {
	width: 100%;
	text-align: center;
}

#selectedphotoholder {
	width: 100%;
	text-align: center;
}

#selectedphotoholder img {
	margin: 0.5em;
}

.grey img {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.sepia img {
	filter: sepia(1);
	-webkit-filter: sepia(1);
}

.invert img {
	filter: invert(1);
	-webkit-filter: invert(1);
}

.blur img {
	filter: blur(10px);
	-webkit-filter: blur(10px);
}

.saturate img {
	filter: saturate(5);
	-webkit-filter: saturate(5);
}

#lightbox {
	position: fixed;
	top: 50px;
	left: 350px;
}

.darkened {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: black;
}
