* {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
	position: absolute;
}

#column-1 {
	width:100px;
	float:right;
	z-index: -1;
}

#greyButton{
	height:10em;
	background-color: grey;
	text-align: center;
	margin-bottom: 3em;
	margin-top:5em;
}

#sepiaButton{
	height:10em;
	background-color: brown;
	text-align: center;
	margin-bottom: 3em;

}

#invertButton{
	height:10em;
	background-color: lightblue;
	text-align: center;
	margin-bottom: 3em;
}

#blurButton{
	height:10em;
	background-color: yellow;
	text-align: center;
	margin-bottom: 3em;
}

.header, #header{
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#header > h1 {
	font-size: 6em;
	margin-bottom: 0.25em;
}

.header > h3 {
	font-size: 4em;
	margin-bottom: 0.5em;
}

#input {
	margin-bottom: 4em;
}

#photo-grid > table{
	margin-right: auto;
	margin-left: auto;
	border-spacing: 5px;
}

#photo-grid td {
	width: 150px;
	height: 150px;
}

#photo-grid td:hover {
	box-shadow: 0px 0px 20px blue;
}

#photo-grid img {
	display: block;
}

#filterpage {
	width: 100%;
	text-align: center;
}

#selectedphotoholder {
	width: 100%;
	text-align: center;
}

#selectedphotoholder img {
	margin-left: auto;
	margin-right: auto;
}

.grey img {
	-webkit-filter: grayscale(1);
}

.sepia img {
	-webkit-filter: sepia(1);
}

.invert img {
	-webkit-filter: invert(1);
}

.blur img {
	-webkit-filter: blur(10px);
}
